* {
  margin: 0;
  padding: 0;
}
.bt {
  width: 100px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.navbar {
  background-color: steelblue;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-text {
  color: #fff;
  font-size: 30px;
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.d-flex {
  display: flex;
}
.problem {
  flex: 1;
  width: auto;
  background-color: skyblue;
  margin-bottom: 1rem;
}

.code-editor {
  flex: 9;
  overflow-y: scroll;
  border: 1px solid olive;
}

.prob-container {
  height: 200px;
}

textarea:focus {
  height: 200px !important;
  outline: none;
}
